/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Heading Section */
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.main-heading {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-heading {
    font-size: 25px;
    color: grey;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Timeline Section */
.timeline-section {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 23px;
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    position: relative;
}

.timeline {
    display: grid;
    grid-template-columns: 200px 40px 2fr;
    gap: 20px;
    align-items: center;
    margin: 20px 0;
    
}

.date {
    color: grey;
}

/* Timeline Dots */
.dot {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 0 auto;
}

/* Individual Dot Adjustments */
/* .dot-one { margin-left: 21px; } 
.dot-two { margin-left: 45px; }
.dot-three { margin-left: 45px; }
.dot-four { margin-left: 45px; }
.dot-five { margin-left: 45px; }
.dot-six { margin-left: 45px; }
.dot-seven { margin-left: 56px; } */

/* Content Text */
.content {
    margin-left: 0;
}

@media (max-width: 680px) {
    .timeline{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .dot{
        margin: 10px auto;
    }

    .sub-heading{
        margin-left: 20px;
        margin-right: 20px;
    }

}